<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVENT LIST</title>
 <link rel="stylesheet" href="../../static/assets/styles/bootstrap/css/main.css">
</head>
<body>
<h1>EVENT LIST</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Amapiano night</td>
        <td>2/12/2026</td>
        <td>Sips Bar and Event Grounds,Westlands</td>
        <td>Come experience the best of amapiano sips has to offer every monday night.</td>
    </tr>
    <tr>
        <td>Rhumba night</td>
        <td>4/6/2026</td>
        <td>Sips Bar and Event Grounds,Westlands</td>
        <td>Experience rhumba both old and new wit the sips bar rhumba night</td>
    </tr>
    <tr>
        <td>Gengetone fest</td>
        <td>7/8/2026</td>
        <td>Sips Bar and Event Grounds,Westlands</td>
        <td>Relive the Gengetone era with the upcoming Gengetone festival at the Event Grounds.</td>
    </tr>
    <tr>
        <td>Drift Wednesday</td>
        <td>4/6/2026</td>
        <td>Sips Bar and Event Grounds,Westlands</td>
        <td>Car lovers will love this event showcasing different cars from luxury to sport cars drifting into the night on drift Wednesday </td>
    </tr>
    <tr>
        <td>Derby Saturday Watchparty</td>
        <td>7/4/2026</td>
        <td>Sips Bar and Event Grounds,Westlands</td>
        <td>Come and watch the much anticipated Saturday night league final derby while indulging in the best music from our highly acclaimed deejays.</td>
    </tr>
    <tr>
        <td>Summer Art Festival</td>
        <td>5/3/2026</td>
        <td>Sips Bar and Event Grounds,Westlands</td>
        <td>Art lovers and artists are welcome to the art festival hosted by the Nairobi Arts Associacion with the goal of bringing together talented Kenyan artists to shocase their talent and benefit from it.
        </td>
    </tr>

</table>
<button>BACK</button>

<footer>&copy REGISTRATION2026 </footer>





</body>
</html>